<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container">
      <form action="/action_page.php">

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="first"> First Name: </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="first" placeholder="Enter First name" name="first">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="last"> Last Name: </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="last" placeholder="Enter Last name" name="last">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="id"> Employee Id: </label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="id" placeholder="Enter Employee Id" name="id">
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="setManager"> Assign as Manager </label>
          </div>
        </div>

        <div class="form-group row">
          <div class="text-center">
            <button type="submit" class="btn btn-success btn-space"> Add </button>
            <button type="reset" class="btn btn-warning btn-space"> Reset </button>
          </div>
        </div>

      </form>
    </div>

    <hr>

    <div class="container">
      <div class="form-group row">
        <input type="text" class="form-control col-sm-4" id="searchUser" placeholder="Search User">
        <div class="col-sm-1">Sort By:</div>
        <button class="btn btn-secondary btn-space btn-sm"> First Name </button>
        <button class="btn btn-secondary btn-space btn-sm"> Last Name </button>
        <button class="btn btn-secondary btn-space btn-sm"> ID </button>
      </div>
    </div>

    <br>

    <div class="col-sm-8 container">
      <ul class="list-unstyled row">
        <li class="list-item col-sm-6 p-1">Test</li>
        <li class="list-item col-sm-2 p-1">
          <button class="btn btn-success"> Edit </button>
        </li>
        <li class="list-item col-sm-6 p-1">Test</li>
        <li class="list-item col-sm-2 p-1">
          <button class="btn btn-warning"> Delete </button>
        </li>
        <li class="list-item col-sm-6 p-1">Test</li>
      </ul>
    </div>

  </div>
</div>